body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 125%;
    justify-content: space-between;
    padding: 5px;
}

a:link, a:visited {
    color: white;
}

h1 {
    padding-left: 10px;
}